[package]
name = "mongojet"
version = "0.1.3"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[lib]
name = "mongojet"
crate-type = ["cdylib"]

[dependencies]
pyo3 = {version = "0.22.0", features = ["full"]}
pyo3-log={version = "0.11.0" }
tokio = {version = "1.36.0", features = ["full"]}
futures="0.3.30"

mongodb = {version = "2.8.2"}
bson = { version = "2.9.0", features = ["chrono-0_4"] }
chrono = {version = "0.4.35", features = ["serde"]}
chrono-tz = "0.8.6"
serde = { version = "1.0", features = ["derive"] }
log = "0.4"
